@import "tailwindcss";

.zoom-image {
  animation: zoomIn 5s ease-in-out forwards;
  will-change: transform;
}


@keyframes zoomIn {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}
  
  